{% extends 'quotes/base.html' %} {% block content %} {% if characters %}
<div class="row" style="max-width: 100%">
  {% for ch in characters %}
  <div class="col-sm-4">
    <div class="card" style="margin: 30px">
      <a href="/anime/character/{{ch.id}}" style="text-decoration: none">
        <img
          src="{{ch.pic_url}}"
          alt="{{ch.name}}"
          class="card-img-top"
          height="350px"
        />
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">{{ch.name}}</h5>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{%else%}
<p>No Characters available</p>
{% endif %} {% endblock %}
