{% extends 'quotes/base.html' %} {% block content %} {% if favorites %}
<h1>Your Favorite Quotes</h1>
<div class="quote-container">
  {% for q in favorites %}
  <div class="favorite-quote-card">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.walmartimages.com%2Fasr%2F6b6ab5da-ba53-4580-a94c-bb49ffe805ea.0cb2b8967890c943bfa4cc223694a5f8.jpeg&f=1&nofb=1&ipt=14992d1518200ab2d8638f90b2ebc7d5db045d45864982eafdab6ad9394bcb07&ipo=images"
      alt="Naruto"
    />
    <div class="favorite-quote-card-body">
      <p>{{q.quote.text}}</p>
      <hr />
      <span>{{q.quote.character.name}}</span>
      <span>- {{q.quote.character.anime.name}}</span>
      <a href="{% url "favorite_quote" q.quote_id %}" class="favorite-btn">
      Unfavorite
    </a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Favorites not found</p>
{% endif %} {% endblock %}
